<link rel="stylesheet" href="{{ "product-description.css" | asset_url }}">

<section class="product-specifications">
  {% if product.texts.data.description.size > 0 %} 
    <div class="container">
        <div class="-holder">
            <div class="theme-title">
                {{ section.settings.description_title }}
            </div>
    
            <div class="-content editor-theme">
                {{ product.texts.data.description }}
            </div>
        </div>
    </div>
  {% endif %}

  {% if product.texts.data.measures.size > 0 %}
    <div class="container">
        <div class="-holder">
            <div class="theme-title">
                {{ section.settings.measures_title }}
            </div>
    
            <div class="-content editor-theme">
                {{ product.texts.data.measures }}
            </div>
        </div>
    </div>
  {% endif %}

  {% if product.texts.data.specifications.size > 0 %}
    <div class="container">
        <div class="-holder">
            <div class="theme-title">
                {{ section.settings.specifications_title }}
            </div>
    
            <div class="-content editor-theme">
                {{ product.texts.data.specifications }}
            </div>
        </div>
    </div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Seção de descrição de produto",
  "settings": [
    {
      "type": "text",
      "id": "description_title",
      "default": "Descrição do produto"
    },
    {
      "type": "text",
      "id": "measures_title",
      "default": "Medidas"
    },
    {
      "type": "text",
      "id": "specifications_title",
      "default": "Especificações técnicas"
    }
  ]
}
{% endschema %}