{{ "footer.css" | asset_url | stylesheet_tag }}
<script src="{{ 'footer.js' | asset_url }}" defer="defer"></script>

{% liquid
  if company.person_type == 'business'
    assign is_business = true
  else
    assign is_business = false
  endif

  if is_business
    assign store_name = company.razao_social
  else
    assign store_name = company.name
  endif

  if is_business
    assign store_document = company.cnpj
  else
    assign store_document = company.cpf
  endif

  if section.settings.categories_type == 'all'
    assign store_categories = categories
  else
    assign store_categories = featured_categories
  endif

  assign show_brand = section.settings.show_brand
  assign show_address = section.settings.show_address
  assign show_payment = section.settings.show_payment_icons
  assign show_yampi_brand = section.settings.show_yampi_brand
  assign show_description = section.settings.show_description
  assign show_security_label = section.settings.show_security_label
  assign show_business_info = section.settings.show_business_information and store_name and store_document
  assign description_enabled = section.settings.description_enabled and (show_description or show_brand)
  
  assign email = company.email
  assign social_medias = company_social_media
  assign phone_number = company.phone.number
  assign whatsapp_number = company.whatsapp.number
  
  assign show_email = section.settings.show_email and email
  assign show_phone = section.settings.show_phone and phone_number
  assign show_whatsapp = section.settings.show_whatsapp and whatsapp_number
  
  
  assign show_pages = section.settings.show_pages and pages.size > 0
  assign show_cookies_policy_page = merchant.cookies_policy.show_page
  assign show_categories = section.settings.categories_enabled and store_categories.size > 0
  assign show_social_medias = section.settings.social_enabled and company_social_media.size > 0
  assign show_contact = section.settings.support_enabled and (show_whatsapp or show_phone or show_email)
  assign have_all_columns = description_enabled and show_pages and show_categories and show_social_medias and show_contact
%}

<section 
  class="footer {% unless section.settings.newsletter_enabled -%} top-line {%- endunless -%} {% if have_all_columns -%} -full-columns {%- endif -%}"
  style="
    --footer-font-color: {{ section.settings.text_color }};
    --footer-bg-color: {{ section.settings.background_color }};
    --footer-opacity-color: {{ section.settings.text_color | hex_to_rgba: 0.5 }};
    --footer-hr-color: {{ section.settings.text_color | hex_to_rgba: 0.1 }};
  "
>
  {% if section.settings.newsletter_enabled %}
    <div class="holder-newsletter container">
      <div class="title theme-title">{{ section.settings.newsletter_title }}</div>
      <form-newsletter class="holder-newsletter-form">
        <form id="form-newsletter">
          <label for="newsletter-email" class="-hide">E-mail</label>
          <div class="holder-input">
            <input
              id="newsletter-email"
              type="email"
              name="newsletter-email"
              placeholder="Digite seu e-mail"
            />
          </div>
          <button class="loader-button btn btn-secundary">
            Cadastre-se
            {% render 'loading-dots' %}
          </button>
        </form>
      </form-newsletter>
    </div>
  {% endif %}
  <div class="holder-footer">
    <div class="container">
      <div class="holder-footer-section section-1 flex -hcenter">
        {% if show_description %}
          <div class="holder-footer-logo">
            {% if show_brand %}
              <div class="logo">
                <img
                  src="{{ merchant.logo_url }}"
                  alt="{{ company.razao_social }}"
                  width="auto"
                  height="auto"
                />
              </div>
            {% endif %} 
            {% if show_description %}
              <div class="-description">{{ merchant.manifest.description }}</div>
            {% endif %}
          </div>
        {% endif %}
    
        <div class="holder-footer-info flex">
          {% if show_categories %}
            <div class="-categories">
              <expandable-element class="expandable-holder" expanded="false">
                <div class="title flex -between -vcenter">
                  <span>Categorias</span>
                  {% render 'icon-arrow' %}
                </div>
                <ul>
                  {% for category in store_categories %}
                    <li><a href="{{ category.url_path }}">{{ category.name }}</a></li>
                  {% endfor %}
                </ul>
              </expandable-element>
            </div>
          {% endif %} 
          {% if show_pages %}
            <div class="-pages">
              <expandable-element class="expandable-holder" expanded="false">
                <div class="title flex -between -vcenter">
                  <span>Informações</span>
                  {% render 'icon-arrow' %}
                </div>
                <ul>
                  {% for page in pages %}
                    {% unless page.slug == merchant.cookies_policy.slug and show_cookies_policy_page != true %}
                      <li><a href="{{ page.path }}">{{ page.name }}</a></li>
                    {% endunless %}
                  {% endfor %}
                </ul>
              </expandable-element>
            </div>
          {% endif %} 
          {% if show_contact %}
            <div class="flex holder-contact">
              <div class="-contact">
                <expandable-element class="expandable-holder" expanded="false">
                  <div class="title flex -between -vcenter">
                    <span>Atendimento</span>
                    {% render 'icon-arrow' %}
                  </div>
                  <ul>
                    {% if show_whatsapp %}
                      <li class="contact-whatsapp">
                        <a
                          href="{{ company.whatsapp.url }}"
                          class="flex -vcenter"
                        >
                          {% render 'icon-whatsapp' %}
                          {{ whatsapp_number | mask: '## #########' }}
                        </a>
                      </li>
                    {% endif %} 
                    {% if show_phone %}
                      <li class="contact-phone">
                        <a
                          class="flex -vcenter"
                          href="tel:{{ phone_number }}"
                          target="_blank"
                          rel="noreferrer"
                        >
                          {% render 'icon-phone' %}
                          {{ company.phone.number | mask: '## #########' }}
                        </a>
                      </li>
                    {% endif %} 
                    {% if show_email %}
                      <li class="contact-email">
                        <a class="flex -vcenter" href="mailto:{{ email }}">
                          {% capture formatted_email %}
                            {{ email | replace: '@', '<wbr>@' | replace: '.', '<wbr>.' }}
                          {% endcapture %}
                          {{ formatted_email }}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
                </expandable-element>
              </div>
            </div>
          {% endif %} 
          {% if show_social_medias %}
            <div class="holder-social-media">
              <ul class="inline">
                {% liquid 
                  assign social_networks = 'facebook, instagram, youtube, pinterest, tiktok, twitter' | split: ", "
                %}
                {% for media in social_networks %}
                  {% unless company_social_media[media] == nil %}
                    <li class="social-media -{{ media }}">
                      <a
                        class="-clean"
                        href="{{ company_social_media[media] }}"
                        target="_blank"
                        rel="noreferrer"
                      >
                        {% case media %}
                          {% when 'facebook' %}
                            {% render 'icon-facebook' %}
                          {% when 'instagram' %}
                            {% render 'icon-instagram' %}
                          {% when 'youtube' %}
                            {% render 'icon-youtube' %}
                          {% when 'pinterest' %}
                            {% render 'icon-pinterest' %}
                          {% when 'tiktok' %}
                            {% render 'icon-tiktok' %}
                          {% when 'twitter' %}
                            {% render 'icon-twitter' %}
                        {% endcase %}
                      </a>
                    </li>
                  {% endunless %}
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>
    
      {% if show_payment or show_security_label %}
        <div class="holder-footer-section section-2">
          {% if show_payment %}
            <span class="holder-cards">
              <ul class="inline">
                {% for card in merchant.payments %}
                  <li>
                    <img
                      src="{{ card.icon_url }}"
                      alt="{{ card.alias }}"
                      width="35"
                      height="24"
                    />
                  </li>
                {% endfor %}
              </ul>
            </span>
          {% endif %} 
          {% if show_security_label %}
            <img src="{{ 'icon-security.svg' | asset_url }}" class="icon icon-security">
          {% endif %}
        </div>
      {% endif %}
    
      <div
        class="holder-footer-section section-3 flex {% if (show_address or show_business_info) and show_yampi_brand %} -between {% else %} -hcenter {% endif %}"
      >
        {% if show_address or show_business_info %}
          <div class="holder-store-address">
            {% if show_address %}
              <span>
                {{ company_address.street }} 
                {{ company_address.number }} 
                {{ company_address.complement | append: ', ' if company_address.complement }}
              </span>
    
              <span class="divisor"> - </span>
    
              <span>{{ company_address.neighborhood }}</span>
    
              <span class="divisor"> - </span>
    
              <span> {{ company_address.city }} </span>
    
              {% if show_business_info %}
                <br />
              {% endif %} 
            {% endif %} 
            {% if show_business_info %} 
              © {{ 'now' | date: '%Y'}} 
              {{ store_name }} 
              {% if store_document %}
                <span class="store-document">
                  {% if is_business %}
                    CNPJ {{ store_document | mask: '##.###.###/####-##' }}
                  {% else %}
                    CPF {{ store_document | mask: '###.###.###-##' }}
                  {% endif %}
                </span>
              {% endif %} 
            {% endif %}
          </div>
        {% endif %} 
        {% if show_yampi_brand %}
          <div class="holder-yampi flex">
            <span>Usamos</span>
            <a
              href="https://www.yampi.com.br?utm_source=open_store_footer&utm_campaign=yampi_brand_footer_link"
              target="_blank"
              rel="noreferrer nofollow"
              class="yampi"
            >
              {% liquid 
                if  color_is_light(section.settings.background_color)
                  assign yampi_icon = 'yampi-white.svg'
                else
                  assign yampi_icon = 'yampi.svg'
                endif
              %}
              <img
                src="https://icons.yampi.me/svg/{{ yampi_icon }}"
                alt="Yampi - Plataforma de E-commerce"
                width="71"
                height="24"
                class="h-va-middle h-inline-block h-ml10"
              />
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Seção do rodapé da loja",
  "settings": [
    {
      "id": "background_color",
      "type": "color",
      "label": "Cor do Rodapé",
      "default": "#FFFFFF"
    },
    {
      "id": "text_color",
      "type": "color",
      "label": "Cor do Texto",
      "default": "#222222"
    },
    {
      "id": "newsletter_enabled",
      "type": "checkbox",
      "label": "Exibir Newsletter",
      "default": true
    },
    {
      "id": "newsletter_title",
      "type": "text",
      "label": "Título da Newsletter",
      "default": "Receba novidades",
      "placeholder": "ex.: Receba novidades"
    },
    {
      "type": "header",
      "content": "Descrição"
    },
    {
      "id": "description_enabled",
      "type": "checkbox",
      "label": "Exibir Descrição",
      "default": true
    },
    {
      "id": "show_brand",
      "type": "checkbox",
      "label": "Mostrar Logotipo",
      "default": true
    },
    {
      "id": "show_description",
      "type": "checkbox",
      "label": "Mostrar Descrição da Loja",
      "default": true
    },
    {
      "type": "header",
      "content": "Categorias"
    },
    {
      "id": "categories_enabled",
      "type": "checkbox",
      "label": "Exibir Categorias",
      "default": true
    },
    {
      "id": "categories_type",
      "type": "select",
      "label": "Tipo de Categorias",
      "options": [
        { "value": "all", "label": "Todas as categorias" },
        { "value": "featured", "label": "Destacadas no menu" }
      ],
      "default": "all"
    },
    {
      "type": "header",
      "content": "Páginas Informativas"
    },
    {
      "id": "show_pages",
      "type": "checkbox",
      "label": "Exibir Páginas Informativas",
      "default": true
    },
    {
      "type": "header",
      "content": "Atendimento"
    },
    {
      "id": "support_enabled",
      "type": "checkbox",
      "label": "Exibir Atendimento",
      "default": true
    },
    {
      "id": "show_whatsapp",
      "type": "checkbox",
      "label": "Mostrar WhatsApp",
      "default": true
    },
    {
      "id": "show_phone",
      "type": "checkbox",
      "label": "Mostrar Telefone/Celular",
      "default": false
    },
    {
      "id": "show_email",
      "type": "checkbox",
      "label": "Mostrar E-mail",
      "default": false
    },
    {
      "type": "header",
      "content": "Redes Sociais"
    },
    {
      "id": "social_enabled",
      "type": "checkbox",
      "label": "Exibir Redes Sociais",
      "default": true
    },
    {
      "id": "show_facebook",
      "type": "checkbox",
      "label": "Mostrar Facebook",
      "default": true
    },
    {
      "id": "show_instagram",
      "type": "checkbox",
      "label": "Mostrar Instagram",
      "default": true
    },
    {
      "id": "show_youtube",
      "type": "checkbox",
      "label": "Mostrar YouTube",
      "default": true
    },
    {
      "id": "show_pinterest",
      "type": "checkbox",
      "label": "Mostrar Pinterest",
      "default": true
    },
    {
      "id": "show_tiktok",
      "type": "checkbox",
      "label": "Mostrar Tiktok",
      "default": true
    },
    {
      "id": "show_twitter",
      "type": "checkbox",
      "label": "Mostrar Twitter",
      "default": true
    },
    {
      "type": "header",
      "content": "Geral"
    },
    {
      "id": "show_payment_icons",
      "type": "checkbox",
      "label": "Mostrar Ícones das Opções de Pagamento",
      "default": true
    },
    {
      "id": "show_security_label",
      "type": "checkbox",
      "label": "Mostrar Selo Loja Protegida",
      "default": true
    },
    {
      "id": "show_address",
      "type": "checkbox",
      "label": "Mostrar Endereço da Loja",
      "default": false
    },
    {
      "id": "show_yampi_brand",
      "type": "checkbox",
      "label": "Mostrar Selo Usamos Yampi",
      "default": true
    },
    {
      "id": "show_business_information",
      "type": "checkbox",
      "label": "Mostrar Razão Social e CNPJ ou Nome Completo e CPF",
      "default": false
    }
  ]
}
{% endschema %}