{{ 'banners.css' | asset_url | stylesheet_tag }}

<script src="{{ 'carousel.js' | asset_url }}" defer="defer"></script>
<div class="carousel-container">
  <h2>{{ section.settings.title }}</h2>
  <slider-component>
    <div class="carousel">
      {% for banner in banners %}
        <a href="{{ banner.link }}" class="carousel-item">
          <img src="{{ banner.image_url }}" alt="{{ banner.title }}" width="500" height="300">
        </a>
      {% endfor %}
    </div>

    <div class="carousel-controls">
      <button name="prev" class="prev-button">Previous</button>
      <button name="next" class="next-button">Next</button>
    </div>

    <div class="carousel-pagination">
      <div class="dots">
        {% for banner in banners %}
          <span class="dot"></span>
        {% endfor %}
      </div>
    </div>
  </slider-component>
</div>

{% render 'collection' %}

{% schema %}
{
  "name": "Teste",
  "settings": [
    {
      "type": "select",
        "id": "layout",
        "options": [
          {
            "value": "full",
            "label": "Completa"
          },
          {
            "value": "fixed",
            "label": "Fixa"
          }
        ],
        "default": "full",
        "label": "Largura do banner"
    },
    {
      "type": "number",
      "id": "slider_delay",
      "default": 5,
      "label": "Transição (seg.)"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Título"
    }
  ]
}
{% endschema %}