{{ 'main-product.css' | asset_url | stylesheet_tag }}
{{ 'carousel.css' | asset_url | stylesheet_tag }}
<script src="{{ 'carousel.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'product.js' | asset_url }}" defer="defer"></script>

{% assign thumbor_url = 'https://images.yampi.io/unsafe/fit-in/75x75/filters:background_color(white):upscale()/' %}

<script>
  window.skus = {{ product.skus.data | json }};
  window.selectedSku = window.skus[0] || null;
</script>

<div>
  {% for combo in product.combos %}
    {{ combo.discount_value }}
  {% endfor %}
</div>

<section class="main-product-holder container">
  <div class="main-product-images">
    <div class="main-product-images-nav carousel-thumbs">
      <ul>
        {% for image in product.images.data %}
          <li class="thumb-item" data-index="{{ forloop.index0 }}">
            <img src="{{ image.url | prepend: thumbor_url }}" class="thumb-image" />
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="main-product-image">
      <slider-component>
        <div class="carousel">
          {% for image in product.images.data %}
            <div class="carousel-item">
              <div class="zoom-on-hover">
                <img src="{{ image.url }}" class="normal" />
              </div>
            </div>
          {% endfor %}
        </div>

          <div class="carousel-controls {% if product.images.data.size == 1 %}hide{% endif %}">
            <button name="prev" class="prev-button">{% render 'icon-arrow' %}</button>
            <button name="next" class="next-button">{% render 'icon-arrow' %}</button>
          </div>

          <div class="carousel-pagination {% if product.images.data.size == 1 %}hide{% endif %}">
            <div class="dots">
              {% for image in product.images.data %}
                <span class="dot"></span>
              {% endfor %}
            </div>
          </div>
      </slider-component>
    </div>
  </div>
  
  <div class="main-product-info">
    <div class="holder-flags">
      {% for flag in product.flags.data %}
        <span class="flag" style="--flag-color: {{ flag.text_color }}; --flag-bg-color: {{ flag.background_color }}">
          {{ flag.name }}
        </span>
      {% endfor %}
    </div>
    {% if section.settings.show_sku or section.settings.show_availability %}
      <div class="reference-availability">
        {% if section.settings.show_sku %}
          <span class="main-product-reference">
            Ref.:
            <span>
              {{ product.skus.data.0.sku }}
            </span>
          </span>
        {% endif %}

        <span> | </span>

        {% if section.settings.show_availability %}
          <span class="main-product-availability">
            Disponibilidade:
            <span>
              {{ product.skus.data.0.days_availability_formated }}
            </span>
          </span>
        {% endif %}
      </div>
    {% endif %}
    {% if section.settings.show_warranty and product.warranty %}
      <div class="main-product-guarantee">
        Garantia:
        <span>
          {{ product.warranty }}
        </span>
        {{ product.warranty > 1 ? 'meses' : 'mês' }}
      </div>
    {% endif %}

    <h1 class="main-product-name theme-title">{{ product.name }}</h1>

    <div class="rating"></div>

    <div class="main-product-prices">
      {% assign price = product.prices.data %}

      {% if price.has_promotion %}
        <div class="old-price">
            {{ price.price_sale_formated }}
        </div>
      {% endif %}
  
      <div class="flex">
        <div class="actual-price price">
            <span>{{ price.price_formated }}</span>
        </div>

        {% if price.percent_discount > 0 %}
          <div class="discount-tag -main-product">
              <span>{{ price.percent_discount | round }}</span>
          </div>
        {% endif %}
      </div>
  
      <installments-text
        product-id="{{ product.id }}"
        amount="{{ price.price }}"
        class=""
      ></installments-text>
  
      {% if section.settings.show_all_installments %}
        <modal-opener class="show-installments link-alike" data-modal="#modal-installments">
            Ver opções de parcelamento
        </modal-opener>
      {% endif %}
    </div>

    <div class="product-customizations">
      {% if product.has_variations %}
        <select-sku>
          <div class="sku-select">
            <p class="helper-text">Selecione uma opção</p>
            {% for variation in product.variations.data %}
              <div class="sku-option">
                <label for="{{ variation.id }}-{{ variation.name }}">
                  {{ variation.name }}
                </label>
            
                <div class="custom-select">
                  <select
                    id="{{ variation.id }}-{{ variation.name }}"
                    name="{{ variation.id }}-{{ variation.name }}"
                  >
                    <option value="0" selected>Selecionar...</option>
                    {% for option in variation.values.data %}
                      <option value="{{ option.id }}">{{ option.value }}</option>
                    {% endfor %}
                  </select>
                  {% render 'icon-arrow' %}
                </div>
              </div>
            {% endfor %}
          </div>
        </select-sku>

        {% javascript %}
          const productSelect = document.querySelector('.main-product-info select-sku');
          productSelect.skus = {{ product.skus.data | json }}
        {% endjavascript %}
      {% endif %}
      {% if product.simple and product.skus.data[0].customizations.data.size > 0 %}
        <product-customization>
        </product-customization>
      {% endif %}
      <product-form>
        <form>
          <div class="main-product-buy-button-holder flex">
            {% if section.settings.show_quantity_selector %}
              <quantity-selector class="quantity-selector">
                <button type="button" class="quantity-btn minus" name="minus">
                  {% render 'icon-minus' %}
                </button>
        
                <input type="number" min="1" value="1" name="quantity">
        
                <button type="button" class="quantity-btn plus" name="plus">
                  {% render 'icon-plus' %}
                </button>
              </quantity-selector>
            {% endif %}
            <button type="submit" class="loader-button btn btn-primary">
              Comprar 
              {% render 'icon-three-dots' %}
            </button>
            <input id="option-to-cart" type="hidden" name="product_option_id" value="{{ product.sku_id }}" />
          </div>
        </form>
      </product-form>

      {% if section.settings.show_inventory_countdown %}
        {% render 'inventory-countdown' %}
      {% endif %}

      {% if section.settings.show_shipping_form %}
        {% render 'shipping-form' %}
      {% endif %}
    </div>

    <modal-dialog id="modal-installments" class="modal" tabindex="-1">
      <div class="modal-body">
        <div class="flex -between">
          <div class="modal-header">
            <div class="theme-title">
              Parcelamento
            </div>
          </div>
          <div class="close-modal">
            {% render 'icon-close' %}
          </div>
        </div>
        <div class="modal-content">
          <label for="payments">Bandeiras</label>
          <custom-select class="custom-select-image-prefix relative">
            <img class="icon" src="https://icons.yampi.me/svg/card-{{ merchant.checkout.default_card }}.svg">
            <select id="payments">
              {% assign excluded_aliases = 'pix,billet,deposit,pix_in_installments,nupay' | split: ',' %}
            
              {% for payment in merchant.payments %}
                {% unless excluded_aliases contains payment.alias %}
                  <option 
                    value="{{ payment.alias }}"
                    data-icon="{{ payment.icon_url }}"
                    {% if payment.alias == merchant.checkout.default_card %} selected {% endif %}
                  >
                    {{ payment.name }}
                  </option>
                {% endunless %}
              {% endfor %}
            </select>
          </custom-select>
    
          <div class="table-title">
            Valores para 1 unidade do produto
          </div>
          <installments-table
            class="inline-block w-full"
            product-id="{{ product.id }}"
            amount="{{ price.price }}"
            brand="{{ merchant.checkout.default_card }}"
          >
            <table class="table">
              <thead>
                <tr>
                  <th>Nº parcela</th>
                  <th>Valor da parcela</th>
                  <th>Total do produto</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </installments-table>
        </div>
      </div>
    </modal-dialog>
  </div>
</section>

{% schema %}
{
  "name": "Seção principal de produto",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_sku",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_availability",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_warranty",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_all_installments",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_inventory_countdown",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_form",
      "default": true
    }
  ]
}
{% endschema %}
