{{ "product-reviews.css" | asset_url | stylesheet_tag }}
<script src="{{ 'product-reviews.js' | asset_url }}" defer="defer"></script>

<section class="product-reviews container">
  <tab-component>
    <div class="holder-product-reviews-title tabs relative">
      <div class="active-slider" style="--active-left: 5px;"></div>
      <div class="titles flex -between relative">
        <div class="tab theme-title active" data-index='0'>
          <span class="title">Avaliações ({{ product.reviews.size }})</span>
        </div>
        <div class="tab theme-title" data-index='1'>
          <span class="title">Dúvidas ({{ product.comments.size }})</span>
        </div>
      </div>
    </div>
    <div class="tab-content active">
      <div class="holder-reviews">
        <modal-opener data-modal="#modal-review">
          <div class="btn btn-secundary">Avaliar produto</div>  
        </modal-opener>
        {% if product.reviews.size > 0 %}
          <masonry-container class="review-container">
            {% for review in product.reviews %}
              <div class="holder-review">
                <div class="review-content">
                  <div class="rating">
                    {% for index in (1..5) %}
                      <div class="star inline-block" data-index="{{ index }}">
                        {% if index < review.rating %}
                          {% render 'icon-star-gold' %}
                        {% else %}
                          {% render 'icon-star-grey' %}  
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                  <div class="flex -vcenter">
                    <span class="name ellipsis">{{ review.name }}</span>
                    {% if section.settings.show_dates %}
                      <span class="time-ago">{{ review.created_at.date | date:  "%d/%m/%Y" }}</span>
                    {% endif %}
                  </div>
                  <div class="text">{{ review.message }}</div>
                </div>
              </div>
            {% endfor %}
          </masonry-container>
        {% else %}
          <div class="alert -yellow">
            Esse produto ainda não possui nenhuma avaliação.
            <modal-opener data-modal="#modal-review">
              <b class="link-alike">Seja o primeiro a avaliar</b>
            </modal-opener>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="tab-content" show-average-reviews="true">
      <div class="holder-questions">
        <modal-opener data-modal="modal-question">
          <div class="btn btn-secundary">Perguntar</div>
        </modal-opener>
        {% if product.comments.size > 0 %}
          {% for question in product.comments %}
            <div class="holder-question">
              <div class="question">
                <span class="name">{{ question.name }}</span>
                {% if section.settings.show_dates %}
                  <span class="time-ago">{{ question.created_at.date | date: '%d/%m/%Y' }}</span>
                {% endif %}
                <div class="text">{{ question.message }}</div>
              </div>
          
              {% if question.answer %}
                <div class="answer">
                  <div class="store-icon">
                    <img src="{{ merchant.meta.default_icon }}" />
                  </div>
                  <span class="store-name">{{ question.answer.name }}</span>
                  {% if section.settings.show_dates %}
                    <span class="time-ago">{{ question.answer.created_at.date | date: '%d/%m/%Y' }}</span>
                  {% endif %}
                  <div class="text">{{ question.answer.message }}</div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        {% else %}
          <div class="alert -yellow">
            Esse produto ainda não possui nenhuma dúvida.
            <b class="link-alike">Seja o primeiro a perguntar</b>
          </div>
        {% endif %}
      </div>
    </div>
  </tab-component>

  <modal-review id="modal-review" class="modal" data-product-id="{{ product.id }}" tabindex="-1">
    <div class="modal-body">
      <div class="flex -between">
        <div class="modal-header">
          <div class="theme-title">
            Avalie o produto
          </div>
          <div class="subtitle">
            {{ product.name }}
          </div>
        </div>
        <div class="close-modal">
          {% render 'icon-close' %}
        </div>
      </div>
      <div class="modal-content">
        <form class="form-review">
          <label for="review-rating">QUANTIDADE DE ESTRELAS</label>
          <star-rating class="holder-stars">
            {% for i in (1..5) %}
              <div class="star inline-block" data-index="{{ i }}">
                {% render 'icon-star-gold' %}  
              </div>
            {% endfor %}
          </star-rating>
      
          <label for="review-name" class="custom-margin">NOME</label>
          <input
            id="review-name"
            type="text"
            name="name"
            placeholder="Ex.: Adriana"
            maxlength="60"
          />
      
          <label for="review-email">E-MAIL</label>
          <input
            id="review-email"
            type="email"
            name="email"
            placeholder="Ex.: adriana@gmail.com"
          />
      
          <label for="review-message">AVALIAÇÃO</label>
          <textarea
            id="review-message"
            type="text"
            name="message"
            placeholder="Escreva o que você achou deste produto..."
            rows="4"
            maxlength="250"
          ></textarea>
      
          <div class="alert -yellow">
            • Sua avaliação está sujeita à aprovação por nossa equipe <br />
            • Seus dados não serão divulgados <br />
            • Não publicaremos termos ofensivos ou de baixo calão.
          </div>
      
          <button class="loader-button btn -block btn-secundary" type="submit">Enviar avaliação</button>
        </form>
      </div>
    </div>
  </modal-review>

  <modal-question id="modal-question" class="modal" data-product-id="{{ product.id }}" tabindex="-1">
    <div class="modal-body">
      <div class="flex -between">
        <div class="modal-header">
          <div class="theme-title">
            Tire suas dúvidas
          </div>
          <div class="subtitle">
            {{ product.name }}
          </div>
        </div>
        <div class="close-modal">
          {% render 'icon-close' %}
        </div>
      </div>
      <div class="modal-content">
        <form class="form-comment">
          <label for="question-username">NOME</label>
          <input id="question-username" type="text" name="name" placeholder="Ex.: Adriana">
        
          <label for="question-email">E-MAIL</label>
          <input id="question-email" type="email" name="email" placeholder="Ex.: adriana@gmail.com">
        
          <label for="question-message">DÚVIDA</label>
          <textarea id="question-message" name="question" placeholder="Escreva sua dúvida..." rows="4"></textarea>
        
          <button type="submit" class="loader-button btn -block btn-secundary">
            Enviar dúvida
            <svg viewBox="0 0 36 8">
              <circle cx="4" cy="4" r="4">
                <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite"
                begin=".1"
                ></animate>
              </circle>
              <circle cx="18" cy="4" r="4">
                <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite"
                begin=".2"
                ></animate>
              </circle>
              <circle cx="32" cy="4" r="4">
                <animate
                attributeName="opacity"
                dur="1s"
                values="0;1;0"
                repeatCount="indefinite"
                begin=".3"
                ></animate>
              </circle>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </modal-question>
</section>

{% schema %}
{
  "name": "Seção de avaliações e dúvidas",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_dates",
      "label": "Mostrar datas",
      "default": "true"
    }
  ]
}
{% endschema %}
