<html>
  <meta charset="UTF-8">
  <title>{{ curent_page }}</title>
  <meta name="description" content="{{ merchant.meta.description }}">
  <link rel="icon" href="{{ merchant.meta.default_icon }}">
  <link rel="preconnect" crossorigin="" href="https://fonts.gstatic.com">
  <link rel="preconnect" crossorigin="" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&amp;display=swap" rel="stylesheet" media="screen" async="">
  {{ 'base.css' | asset_url | stylesheet_tag }}
  {{ 'header.css' | asset_url | stylesheet_tag }}
  {{ 'category.css' | asset_url | stylesheet_tag }}
<body>
  {% render 'header' %}
  <h1>Produto</h1>
</body>
</html>
