<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>{{ current_page }}</title>
  <meta name="description" content="{{ merchant.meta.description }}">
  <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" href="{{ merchant.meta.default_icon }}">
  <link rel="preconnect" crossorigin="" href="https://fonts.gstatic.com">
  <link rel="preconnect" crossorigin="" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family={{ settings.fonts_texts_family }}:wght@400;500;700;900&amp;display=swap" rel="stylesheet" media="screen" async="">
  <link href="{{ 'base.css' | asset_url }}" rel="stylesheet">
  <link href="{{ 'main-mobile.css' | asset_url }}" rel="stylesheet">
  <link href="{{ 'modals.css' | asset_url }}" rel="stylesheet">

  <style>
    :root {
      --fonts-texts-family: {{ settings.fonts_texts_family }};
      --fonts-texts-size: {{ settings.fonts_texts_size }};

      --fonts-titles-family: {{ settings.fonts_titles_family }};
      --fonts-titles-weight: {{ settings.fonts_titles_weight }};
      --fonts-titles-uppercase: {{ settings.fonts_titles_uppercase }};

      --theme-border-radius: {{ settings.theme_border_radius }};

      --color-general-primary: {{ settings.color_general_primary }};
      --color-general-secundary: {{ settings.color_general_secundary }};

      --color-btn-primary-background: {{ settings.color_btn_primary_background }};
      --color-btn-primary-background-rgb: {{ settings.color_btn_primary_background_rgb }};
      --color-btn-primary-background-outline: {{ settings.color_btn_primary_background_outline }};
      --color-btn-primary-text: {{ settings.color_btn_primary_text }};
      
      --color-btn-secundary-background: {{ settings.color_btn_secundary_background }};
      --color-btn-secundary-background-outline: {{ settings.color_btn_secundary_background_outline }};
      --color-btn-secundary-text: {{ settings.color_btn_secundary_text }};
      
      --discount-tag-background: {{ settings.discount_tag_background }};
      --discount-tag-color: {{ settings.discount_tag_color }};
      
      --fonts-buttons-uppercase: {{ settings.fonts_buttons_uppercase }};
      
      --slides-border-radius: {{ settings.slides_border_radius }};
      
      --label-radius: {{ settings.label_radius }};
    }
  </style>
</head>
<body>
  {% content_for_layout %}
    
  {% if preview == 'true' %}
    {% render 'theme-preview' %}
  {% endif %}

  <script src="{{ 'constants.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'event-bus.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'global.js' | asset_url }}"></script>

  <script>
    window.Yampi = {
      cart_token: getCookie('cart_token'),
      store_token: '{{ merchant.checkout.store_token }}',
      merchant_alias: '{{ merchant.alias }}',
      api_domain: '{{ merchant.api.search | remove: '/public/search' }}',
      api_domain_public: '{{ merchant.api.search | remove: '/search' }}',
      bart_url: '{{ bart_url }}'
    }
    
    if (!window.Yampi.cart_token) {
      const token = crypto.randomUUID();
      setCookie('cart_token', token, 120);
      window.Yampi.cart_token = token;
    }
    
    window.routes = {
      cart_base_url: '{{ merchant.checkout.base_domain }}/cart',
      cart_items_url: `{{ merchant.checkout.items_json }}&cart_token=${window.Yampi.cart_token}`,
      checkout_url: `{{ merchant.checkout.base_domain }}?cart_token=${window.Yampi.cart_token}&store_token=${window.Yampi.store_token}`
    }
  </script>
</body>
</html>